.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align to the right */
    margin-bottom: 10px;
}

.search-label {
    margin-right: 5px;
    font-size: 14px;
}

.search-input {
    width: 200px;
    font-size: 14px;
}

.rows-per-page {
    display: flex;
    align-items: center;
}

.rows-per-page label {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.rows-per-page select {
    width: 80px; /* Adjust the width as needed */
    font-size: 14px;
}
.module {
    color: blue;
    font-weight: bold;
}

.info {
    color: blue;
    font-style: italic;
}